*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 4.2rem;
    color: antiquewhite;
    margin: 2rem 0 3rem 0;
    animation-name: change-size;
    -webkit-animation-name: change-size;
    -o-animation-name: change-size;
    -moz-animation-name: change-size;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
}
@media screen and (max-width: 930px){
    .title{
        font-size: 3.8rem;
        animation-name: change-small;
        -webkit-animation-name: change-small;
        -o-animation-name: change-small;
        -moz-animation-name: change-small;
        -webkit-animation-duration: 3s;
        -o-animation-duration: 3s;
        -moz-animation-duration: 3s;
        animation-duration: 3s;
    }
}
@media screen and (max-width: 630px){
    .title{
       font-size: 3.6rem;
       animation-name: none;
    }
}

.container{
    width: calc(80% - 4rem);
    height: 100%;
    background-color:rgba(135, 206, 250, 0.895);
    padding: 1rem 2rem;
    overflow: hidden;
    border: 0.3rem solid black;
    box-shadow: 0rem 0.2rem 1.5rem black;
    border-radius: 1rem;
}
@media screen and (max-width: 1076px){
    .container{
        width: calc(100% - 6rem);
    }
}
@media screen and (max-width: 630px){
    .container{
        width: calc(100% - 4rem);
    }
}

input{
    visibility: hidden;
    cursor: none;
}
.slide-block{
    height: 75rem;
    width: 100%;
    transition: all 0.4s ease-in; 
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    
}
@media screen and (max-width: 930px){
    .slide-block{
        height: 60rem;
    }
}
@media screen and (max-width: 630px){
    .slide-block{
        height: 50rem;
    }
}
@media screen and (max-width: 460px){
    .slide-block{
        height: 35rem;
    }
}
.slide-image{
    width: 100%;
    height: 60rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-in;
}
@media screen and (max-width: 930px){
    .slide-image{
        background-size: 100%;
        height: 40rem;
    }
}
@media screen and (max-width: 630px){
    .slide-image{
        background-size: 100%;
        height: 30rem;
    }
}
@media screen and (max-width: 460px){
    .slide-image{
        height: 20rem;
    }
}

.text{
    opacity: 0;
    display: block;
    height: 5rem;

}
.slide-text{
    margin-top: 4rem;
    font-size: 3.6rem;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
}


@media screen and (max-width: 930px){
    .slide-text{
        font-size: 3.2rem;
        margin-top: 1.0rem;
        align-self: start;
    }
}
@media screen and (max-width: 630px){
    .slide-text{
        font-size: 2.8rem;

    }
}
@media screen and (max-width: 460px){
    .slide-text{
        font-size: 2.4rem;
        margin-top: 1.5rem;
    }
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 930px){
    .info{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

.navigator{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 630px){
    .navigator{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 460px){
    .navigator{
        margin-top: 1.5rem;
    }
}
.nav{
    display: flex;
    height: 6rem;
    margin: 0.5rem;
    border-radius: 50%;
    transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    cursor: pointer
}
@media screen and (max-width: 460px){
    .nav{
        height: 4rem;
    }
}
.icon{
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-image: url(assets/icon/smile.png);
    background-size: auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
}
.nav:hover .icon{
    background-color: rgba(255, 255, 0, 0.5);
}
.icon:hover{
    background-color: rgba(255, 255, 0, 0.5);
}
.icon:active{
    box-shadow: 0px 0.2rem 2rem yellow;
    border: 0.1rem solid black;
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -o-transform: scale(0.96);
    -moz-transform: scale(0.96);
    transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;

}

#el1:checked ~ .slide-block .slide-image{
    background-image: url(assets/images/1.jpg);
    animation-name: change-opacity;
    animation-duration: 4s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 4s;
    -o-animation-duration: 4s;
    -moz-animation-duration: 4s;
    opacity: 1;
}
#el2:checked ~ .slide-block .slide-image{
    background-image: url(assets/images/2.jpg);
    animation-name: change-opacity;
    opacity: 1;
    animation-duration: 4s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 4s;
    -o-animation-duration: 4s;
    -moz-animation-duration: 4s;
}
#el3:checked ~ .slide-block .slide-image{
    background-image: url(assets/images/3.jpg);
    animation-name: change-opacity;
    opacity: 1;
    animation-duration: 4s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 4s;
    -o-animation-duration: 4s;
    -moz-animation-duration: 4s;
}
#el4:checked ~ .slide-block .slide-image{
    background-image: url(assets/images/4.jpg);
    animation-name: change-opacity;
    opacity: 1;
    animation-duration: 4s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 4s;
    -o-animation-duration: 4s;
    -moz-animation-duration: 4s;
}
#el5:checked ~ .slide-block .slide-image{
    background-image: url(assets/images/5.jpg);
    animation-name: change-opacity;
    opacity: 1;
    animation-duration: 4s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 4s;
    -o-animation-duration: 4s;
    -moz-animation-duration: 4s;
}
#el1:checked ~ .slide-block .text1{
    opacity: 1;
    animation-name: change-opacity;
    animation-duration: 3s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
}
#el2:checked ~ .slide-block .text2{
    opacity: 1;
    transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    animation-name: change-opacity;
    animation-duration: 3s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
    
}
#el3:checked ~ .slide-block .text3{
    opacity: 1;
    transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    animation-name: change-opacity;
    animation-duration: 3s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;

}
#el4:checked ~ .slide-block .text4{
    opacity: 1;
    transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    animation-name: change-opacity;
    animation-duration: 3s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
}
#el5:checked ~ .slide-block .text5{
    opacity: 1;
    transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    animation-name: change-opacity;
    animation-duration: 3s;
    -webkit-animation-name: change-opacity;
    -o-animation-name: change-opacity;
    -moz-animation-name: change-opacity;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
}




#el1:checked ~ .slide-block .navigator label:nth-child(1) .icon,
#el2:checked ~ .slide-block .navigator label:nth-child(2) .icon,
#el3:checked ~ .slide-block .navigator label:nth-child(3) .icon,
#el4:checked ~ .slide-block .navigator label:nth-child(4) .icon,
#el5:checked ~ .slide-block .navigator label:nth-child(5) .icon{
    background-color: yellow;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in;
    -o-transi-moz-transition: all 0.3s ease-in;
    -webkit-transi-moz-transition: all 0.3s ease-in;
   
}
@keyframes change-size {
    0% {font-size: 2.4rem;}
    100%{font-size: 4.2rem;}
}
@keyframes change-small{
    0% {font-size: 2.0rem;}
    100%{font-size: 3.8rem;}
}
@keyframes change-opacity{
    0% {opacity: 0;}
    100%{opacity: 1;}
}


